# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.io/en/latest/deploy.html

[settings]
default = settings

[deploy:justeat]
url = http://localhost:50443/
username = scrapy
password = scrapyd
project = justeat
